@charset "utf-8";

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
 display: block;
}
*:focus {
 outline: none;
}
ol, ul {
 padding-left:30px;
}
b, strong{
 font-weight:bolder !important;
}
i,em {
 font-style:italic;
}
a{
 color:#246A8A;
 text-decoration:none;
}
a:hover{
 color:#333;
 text-decoration:none;
}
a,a:hover,a:active,a:focus,a:active {
 outline: 0;
 text-decoration:none;
}
html{
 height:100%;
}
body{
 font-family: "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
 -webkit-font-smoothing: antialiased;
 -webkit-text-size-adjust: 100%;
 background:#EEEEEE;
 height:100%;
 margin: 0;
 font-size:13px;
 line-height: 1;
}
blockquote, pre{
 border:1px dashed #aaa;
 margin:5px 0;
 overflow:hidden;
 padding:6px 8px;
}
blockquote{
 background:#fff6c7;
}
pre{
 background:#efefef;
}
fieldset {
 padding:10px 20px;
 border:1px solid #ddd;
 margin-bottom:10px;
 background-color: #fafafa;
}
legend {
 font-size:14px;
 padding-right:5px;
 padding-left:5px;
}
.clear{clear:both;}
.clearfix:before, .clearfix:after {
 content: "\0020";
 display: block;
 height: 0;
 visibility: hidden;
}
.clearfix:after {
 clear: both;
}
.clearfix {
 zoom: 1;
}
#ana_govde{
 min-height: 100%;
 min-height: calc(100% - 406px);
}
/* IE 8 */
@media all\0{
 #ana_govde{min-height:auto !important;}
}
/* IE 10-11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 #ana_govde{min-height: calc(100% - 404px)}
}
.menu-alt-bosluk{
 clear:both;
 height:30px;
}
.sola-yasla{float:left !important;}
.saga-yasla{float:right !important;}
.yazi-ortala{text-align:center !important;}
.yazi-sol{text-align:left !important;}
.yazi-sag{text-align:right !important;}
.yazi-tamami{text-align:justify !important;}
.margin-sifirla{margin:0 !important;}
.padding-sifirla{padding:0 !important;}

.sabit-menu{
 position:relative;
 top:0;
 left:0;
 right:0;
 width:100%;
 height:35px;
 background-color:#444;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
 padding:0;
 margin:0;
 color:#fff;
 z-index:1;
}
.sabit-menu .ic{
 padding-right:195px;
}
.sabit-menu ul{
 padding: 6px 0 2px 0;
 font-size:26px;
 width:100%;
 overflow-x:auto;
 overflow-y:hidden;
 white-space: nowrap;
 text-overflow:ellipsis;
 text-overflow:"\00BB";
}
.sabit-menu ul, .sabit-menu li{
 margin:0;
 padding:0;
 list-style:none;
 display:inline-block;
 vertical-align:middle;
}
.sabit-menu ul a{
 display:block;
 float:left;
 color:#fff;
 -webkit-transition:all 200ms linear;
 -o-transition:all 200ms linear;
 -moz-transition:all 200ms linear;
 transition:all 200ms linear;
 line-height:35px;
 height:35px;
 padding:0 12px;
 font-size:13px;
 text-decoration: none;
}
.sabit-menu ul a:hover{
 background-color:#353535;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
}
.sabit-menu ul li ul.dropdown-menu{
 display:none;
 background-color:#353535;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
 padding:0;
 border:0;
 position:absolute;
 top:100%;
 width:auto;
 overflow:unset;
}
.sabit-menu ul li:hover > ul.dropdown-menu {
 display: block;
}
.sabit-menu ul li ul.dropdown-menu li {
 display:block;
 clear:both;
 float:none;
 position:relative;
 text-align:left;
}
.sabit-menu ul li ul.dropdown-menu li a {
 min-width:115px;
 text-align:left;
 line-height:30px;
 height:30px;
 font-size:12px;
}
.sabit-menu ul li:hover > a{
 background-color:#353535;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
}
.sabit-menu ul li ul.dropdown-menu li a:hover{
 background-color:#444;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
}
.sabit-menu ul li ul li ul{
 position:absolute;
 display:none;
 left:100%;
 top:0;
}
.sabit-menu ul li ul li:hover ul {
 display:block;
}
.sabit-menu ul li ul li:hover ul li ul{
 display:none;
}
.sabit-menu .arama-alani{
 display:block;
 right:0;
 height:35px;
 padding:0 15px 15px 0;
 line-height:35px;
 position:absolute;
}
.sabit-menu .arama-alani .input{
 border:0;
 box-shadow:none;
 font-size:.9em;
 padding:4px 35px 4px 10px;
 width:130px;
 color:#999;
 -webkit-transition:all 200ms linear;
 -o-transition:all 200ms linear;
 -moz-transition:all 200ms linear;
 transition:all 200ms linear;
 border-radius:2px;
 font-size:12px;
 display:block;
 margin-top:6px;
}
.sabit-menu .arama-alani .input:focus{
 width:180px;
}
.sabit-menu .arama-alani .arama-dugme{
 cursor:pointer;
 background-color:transparent;
 background-image:url("../resimler/arama.png");
 background-repeat: no-repeat;
 background-position: center center;
 text-indent:-9999px;
 position:absolute;
 right:16px;
 top:6px;
 border:0;
 height:24px;
 width:24px;
}
.sabit-menu .arama-button{
 display:none;
}
.sabit-menu .klogo a{
 float:left;
 width:51px;
 display:block;
 background:url("../resimler/bildirim_logo.png") no-repeat 6px 9px;
}
.sabit-menu .klogo a:hover{
}
.sabit-menu .klogo:hover > a, .sabit-menu .klogo ul.dropdown-menu li a{
 background:url("../resimler/bildirim_logo.png") no-repeat 6px 9px;
 background-color:#353535;
}
.sabit-menu .klogo ul.dropdown-menu li a{
 width:95px;
}
.sabit-menu .klogo ul.dropdown-menu li a{
 background-image:url("../resimler/baslik-arka.png");
 background-color:#353535;
}
.sabit-menu .devamivar{
 position:absolute;
 right:29px;
 background-color:#444;
 font-size:26px;
 line-height:30px;
 text-align:center;
}
.site-baslik{
 background-color:#58ABD0;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
 height:140px;
}
.site-baslik .baslikyazi{
 margin-top:35px;
}
.site-baslik .baslikyazi span a{
 display:block;
 margin-top:13px;
 margin-left:10px;
 font-size:47px;
 font-style:italic;
 color:#FFFFFF;
}
.site-baslik .baslikyazi img{
 max-height: 140px;
}
.genel-menu{
 width:100%;
 height:45px;
 background-color:#246A8A;
 border-top:1px solid#246A8A;
 border-bottom:1px solid#246A8A;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
 padding:0;
 margin:0;
 color:#fff;
 position:relative;
 z-index:2;
}
.genel-menu ul{
 padding: 6px 0 2px 0;
 font-size:26px;
 width:100%;
 overflow-x:auto;
 overflow-y:hidden;
 white-space:nowrap;
 text-overflow:ellipsis;
 text-overflow:"\00BB";
}
.genel-menu ul, .genel-menu li{
 margin:0;
 padding:0;
 list-style:none;
 display:inline-block;
 vertical-align:middle;
}
.genel-menu ul a{
 display:block;
 float:left;
 color:#fff;
 -webkit-transition:all 200ms linear;
 -o-transition:all 200ms linear;
 -moz-transition:all 200ms linear;
 transition:all 200ms linear;
 line-height:45px;
 height:45px;
 padding:0 6px;
 font-size:13px;
 text-decoration:none;
}
.genel-menu ul a:hover{
 background-color:#165E80;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
}
.genel-menu ul li ul.dropdown-menu2{
 display:none;
 background-color:#165E80;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
 padding:0;
 position:absolute;
 top:100%;
 width:auto;
 overflow:unset;
}
.genel-menu ul li:hover > ul.dropdown-menu2 {
 display: block;
}
.genel-menu ul li ul.dropdown-menu2 li {
 display:block;
 clear:both;
 float: none;
 position: relative;
 text-align:left;
}
.genel-menu ul li ul.dropdown-menu2 li a {
 min-width:170px;
 text-align:left;
 line-height:35px;
 height:35px;
}
.genel-menu ul li:hover > a{
 background-color:#165E80;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
}
.genel-menu ul li ul.dropdown-menu2 li a:hover{
 background-color:#246A8A;
 background-image:url("../resimler/baslik-arka.png");
 background-repeat:repeat;
}
.genel-menu ul li ul li ul{
 position:absolute;
 display:none;
 left:100%;
 top:0;
}
.genel-menu ul li ul li:hover ul {
 display:block;
}
.genel-menu ul li ul li:hover ul li ul{
 display:none;
}
.genel-menu .devamivar{
 position:absolute;
 right:0;
 background-color:#246A8A;
 font-size:26px;
 line-height:40px;
 text-align:center;
}
.genislik{
 width:95%;
 margin:0 auto;
}
.tam-blok{
 overflow:auto;
 margin:0 auto;
}
.sol-blok{
 float:left;
 width:200px;
 margin-right:15px;
 z-index:1;
}
.orta-blok{
 overflow:auto;
 z-index:0;
}
.sag-blok{
 float:right;
 width:200px;
 margin-left:15px;
 z-index:1;
}
.sol-blok-yuzer{
 position:absolute;
 background:#eeeeee;
 padding:10px 10px 0 0;
 left:0;
}
.sag-blok-yuzer{
 position:absolute;
 background:#eeeeee;
 padding:10px 0 0 10px;
 right:0;
}
.blok-golge{
 -webkit-box-shadow: 0px 13px 19px 10px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 13px 19px 10px rgba(0,0,0,0.75);
 box-shadow: 0px 13px 19px 10px rgba(0,0,0,0.75);
}
.phpkf-blok-gizle{
 position:relative;
 line-height:34px;
 font-size:28px;
 font-weight:normal;
 color:#444444;
 cursor:pointer;
 z-index:1;
}
.phpkf-blok-gizle.sol-gizle{
 padding:0 5px 0 10px;
 float:right;
}
.phpkf-blok-gizle.sag-gizle{
 padding:0 10px 0 5px;
 float:left;
}
.phpkf-blok-gizle.sol-goster{
 display:none;
 float:left;
 font-size:50px;
 margin-top:-36px;
}
.phpkf-blok-gizle.sag-goster{
 display:none;
 float:right;
 font-size:50px;
 margin-top:-36px;
}
.iletisim-blok{
 margin:0 auto;
 display:block;
}
.phpkf-blok-kutusu.margin{
 margin-left:15px;
 margin-right:15px;
}
.phpkf-blok-kutusu{
 margin-bottom:20px;
 border:1px solid #ddd;
 border-top:2px solid #58ABD0;
 border-bottom:2px solid #58ABD0;
 border-left:1px solid #cbcbcb;
 border-right:1px solid #cbcbcb;
 position:relative;
 background: #fff;
 color: #333;
}
.phpkf-blok-kutusu .kutu-baslik{
 margin:0;
 display:block;
 background:#F3F3F3;
 border-bottom:1px solid #ddd;
 padding:11px 13px;
 color:#555555;
 font-weight:bold;
 font-family: "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.phpkf-blok-kutusu .kutu-baslik .duzenle{
 float:right;
 font-weight:normal;
 vertical-align:middle;
}
.phpkf-blok-kutusu .kutu-baslik .sosyal{
 float:right;
 font-weight:normal;
 vertical-align:middle;
 padding-left:10px;
 margin:-6px 0 0 0;
}
.phpkf-blok-kutusu .kutu-baslik h1, .phpkf-blok-kutusu .kutu-baslik h2, .phpkf-blok-kutusu .kutu-baslik h3, .phpkf-blok-kutusu .kutu-baslik h4{
 margin:0;
 padding:0;
 color:#555;
 font-size:16px;
 font-weight:normal;
 font-family: "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.phpkf-blok-kutusu .kutu-baslik h1 a, .phpkf-blok-kutusu .kutu-baslik h2 a, .phpkf-blok-kutusu .kutu-baslik h3 a,
.phpkf-blok-kutusu .kutu-baslik h4 a, .phpkf-blok-kutusu .kutu-baslik h5 a, .phpkf-blok-kutusu .kutu-baslik h6 a{color:#333;}
.phpkf-blok-kutusu .kutu-footer{
 margin:0;
 display:block;
 background:#f3f3f3;
 border-top:1px solid #ddd;
 padding:11px 10px;
 color:#555;
 font-weight:normal;
 font-size:12px;
 font-family: "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.phpkf-blok-kutusu .kutu-footer .kutu-tarih{
 background: url("../resimler/tarih.png") no-repeat left center;
 padding-left:20px;
 font-size:13px;
 margin-right:10px;
}
.phpkf-blok-kutusu .kutu-footer .kutu-tarih i{font-size:11px; font-style:normal}
.phpkf-blok-kutusu .kutu-footer .kutu-yazar{
 background: url("../resimler/yazar.png") no-repeat left center;
 padding-left:20px;
 font-size:13px;
 margin-right:10px;
}
.phpkf-blok-kutusu .kutu-footer .kutu-yazar a{font-size:11px;}
.phpkf-blok-kutusu .kutu-footer .kutu-yorum{
 background: url("../resimler/yorum.png") no-repeat left center;
 padding-left:20px;
 font-size:13px;
 margin-right:10px;
}
.phpkf-blok-kutusu .kutu-footer .kutu-yorum {font-size:11px;}
.phpkf-blok-kutusu .kutu-footer .kutu-okunma{
 background: url("../resimler/okunma.png") no-repeat left center;
 padding-left:20px;
 font-size:13px;
 margin-right:10px;
}
.phpkf-blok-kutusu .kutu-footer .kutu-okunma i{font-size:11px; font-style:normal}
.phpkf-blok-kutusu .kutu-icerik{
 padding:11px 13px;
 font-size:13px;
 line-height:1.5em;
 overflow:auto;
}
.phpkf-blok-kutusu .kutu-icerik .yazi-icerik{
 display:inline;
}
.phpkf-blok-kutusu .kutu-icerik .yazi-icerik img{
 max-width:100%;
}
.yazi-etiket{
 background:#f5f5f5;
 padding:10px;
 margin-top:10px;
 border:1px solid #e5e5e5;
 font-size:11px;
}
.yazi-etiket a{
 color:#f63;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste{
 list-style-type:none;
 padding:0;
 margin:0;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste span{
 margin:3px;
 padding-left:5px;
 padding-right:3px;
 border-left:1px solid #ddd;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li > a{
 display:block;
 padding:3px 3px;
 color:#555;
 border-bottom:1px dotted #ddd;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li > a:hover{
 background:#f4f4f4;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li > a > i{
 width:125px;
 float:right;
 text-align:right;
 padding-left:6px;
 padding-right:2px;
 border-left:1px solid #ddd;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li > a > i.toplam{
 width:auto;
 border-left:0;
 font-style:normal;
}
.kategori-galeri{
 width:244px;
 float:left;
 text-align:center;
 line-height:20px;
 margin:12px;
}
.kategori-galeri-artalan{
 height:137px;
 border:1px solid #666;
 background-repeat:no-repeat;
 background-size:244px auto;
 background-position:center center;
 margin-bottom:30px;
}
.kategori-galeri-resim{
 width:244px;
 height:137px;
 display:block;
 visibility:hidden;
}
.kategori-galeri-yazi{
 height:22px;
 line-height:22px;
 overflow:hidden;
 white-space:nowrap;
 text-overflow:ellipsis;
 padding:5px;
 margin:0 -1px 0 -1px;
 background:#f6f6f6;
 border:1px solid #888;
}
.kategori-galeri a{
 color:#555555;
}
.SlaytKucukResim{
 width:100%;
 height:137px;
 margin:-1px;
 border:1px solid #666;
 display:block;
 min-height:40px;
}
.kategori-video{
 width:200px;
 float:left;
 text-align:center;
 line-height:20px;
 margin:12px;
 background:#fff;
}
.kategori-video-artalan{
 height:137px;
 border:1px solid #666;
 background-image:url("../../../yukleme/video.png");
 background-repeat:no-repeat;
 background-size:120px auto;
 background-position:center center;
 margin-bottom:30px;
}
.kategori-video-resim{
 width:auto;
 height:137px;
 display:block;
 visibility:hidden;
}
.kategori-video-yazi{
 height:22px;
 line-height:22px;
 overflow:hidden;
 white-space:nowrap;
 text-overflow:ellipsis;
 padding:5px;
 margin:-5px -1px 0 -1px;
 background:#f6f6f6;
 border:1px solid #888;
}
.kategori-video a{
 color:#555555;
}
#phpkf-footer{
 background: #222;
 border-top: 1px solid #111;
 color: #fff;
 padding: 16px 10px 32px;
 min-height:135px;
 position:relative;
}
#phpkf-footer .footer-linkler{
 width:24%;
 float:left;
}
#phpkf-footer .footer-linkler ul{
 list-style-type:none;
 padding:0;
 margin:0;
}
#phpkf-footer .footer-linkler ul li {
 padding:0;
 line-height:28px;
}
#phpkf-footer .footer-linkler ul a{
 font-size:14px;
 color:#fff;
 font-weight:normal !important;
}
#phpkf-footer .footer-bilgi{
 padding:7px 10px;
 font-size:13px;
 width:25%;
 line-height:1.5em;
 float:right;
}
#phpkf-footer .footer-bilgi .baslikyazialt{
 position:absolute;
}
#phpkf-footer .footer-bilgi .baslikyazialt span a{
 color:#fff;
 font-size:47px;
 line-height:18px;
 display:block;
 margin-top:24px;
 font-style:italic;
 font-weight:normal !important;
}
#phpkf-footer .footer-bilgi .baslikyazialt img{
 max-height: 118px;
}
.enalt{
 position:absolute;
 right:0;
 left:0;
 bottom:0;
 padding:9px 0;
 width:100%;
 background:#161616;
 color:#fff;
 font-size:13px;
 line-height:19px;
 font-weight:normal !important;
}
.enalt a, .enalt a:hover{
 color:#fff;
}
.enalt div{
 padding:0 0 4px 0;
}
.liste-onayla{
 list-style-type:none;
}
.liste-onayla li{
 margin-bottom:10px;
 background:url("../resimler/onayla.png") no-repeat left center;
 padding-left:30px;
 font-size:12px;
}
.liste-sil{
 list-style-type:none;
}
.liste-sil li{
 margin-bottom:10px;
 background:url("../resimler/sil.png") no-repeat left center;
 padding-left:30px;
 font-size:12px;
}
.liste-kalp{
 list-style-type:none;
}
.liste-kalp li{
 margin-bottom:10px;
 background:url("../resimler/kalp.png") no-repeat left center;
 padding-left:30px;
 font-size:12px;
}
.liste-ekle{
 list-style-type:none;
}
.liste-ekle li{
 margin-bottom:10px;
 background:url("../resimler/ekle.png") no-repeat left center;
 padding-left:30px;
 font-size:12px;
}
.liste-yildiz{
 list-style-type:none;
}
.liste-yildiz li{
 margin-bottom:10px;
 background:url("../resimler/yildiz.png") no-repeat left center;
 padding-left:30px;
 font-size:12px;
}
.liste-sayisal{
 list-style-type:decimal;
 padding-left:20px;
}
.liste-sayisal li{
 margin-bottom:7px;
}
.liste-sayisal li ul{
 margin:10px 0;
 list-style-type:lower-roman;
 padding-left:20px;
}
.liste-sayisal li ul li ul{
 margin:10px 0;
 list-style-type:lower-alpha;
 padding-left:20px;
}
.liste-daire{
 list-style-type:disc;
 padding-left:20px;
}
.liste-daire li{
 margin-bottom:7px;
}
.liste-daire li ul{
 margin:10px 0;
 list-style-type:disc;
 padding-left:20px;
}
.liste-daire li ul li ul{
 margin:10px 0;
 list-style-type:disc;
 padding-left:20px;
}
.liste-kutu{
 list-style-type:square;
 padding-left:20px;
}
.liste-kutu li{
 margin-bottom:7px;
}
.liste-kutu li ul{
 margin:10px 0;
 list-style-type:square;
 padding-left:20px;
}
.liste-kutu li ul li ul{
 margin:10px 0;
 list-style-type:square;
 padding-left:20px;
}
.liste-alt-kategori{
 list-style-type:none;
 padding-left:0;
 text-indent:15px;
}
.liste-alt-sayfa{
 list-style-type:none;
 padding-left:3px;
}
.input-select{
 border:1px solid #d0d0d0;
 color:#666;
 outline:none;
 height:31px;
 padding-left:10px;
 padding-top:4px;
 padding-bottom:4px;
 padding-right:4px;
 -webkit-transition:all .2s linear;
 -moz-transition:all .2s linear;
 -o-transition:all .2s linear;
 transition:all .2s linear;
 background: #fff;
 font: 12px/22px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.input-text{
 border:1px solid #dfdfdf;
 color:#666;
 outline:none;
 height:28px;
 padding-left:10px;
 padding-right:10px;
 background:#fff;
 font: 12px/22px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.input-text:focus{
 border-color:#aaa;
 color:#666;
}
.input-text:disabled{
 color:#aaa;
}
.input-text.yorum-textarea{
 height:200px;
 width:90%;
}
.input-text.yorum-text{
 width:90%;
}
.input-text.giris-text{
 background-image: url("../resimler/bos.png");
 background-repeat: no-repeat;
 background-position: right 7px center;
}
.kayit-form{}
.kayit-form .input-select{width:80%;}
.kayit-form .input-text{width:80%;}
.phpkf-form-label {
 padding-left:160px;
 margin-bottom:20px;
 margin-top:8px;
}
.phpkf-form-label label.label {
 position:absolute;
 margin-left:-140px;
 color:#444444;
 z-index:1;
 font-size:14px;
 margin-top:6px;
 text-align:right;
}
.dugme {
 display: inline-block;
 float:none;
 padding: 4px 10px;
 border: none;
 cursor: pointer;
 opacity: 0.9;
 border-radius:3px;
 font: 13px/22px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.dugme:hover{ opacity: 1; }
.dugme:active{ color: white !important; background-color: #191919 !important; }
.dugme.dugme-mavi{ background-color: #368EE0; color:white;}
.dugme.dugme-kirmizi{ background-color: #E63A3A; color:white;}
.dugme.dugme-yesil{ background-color: #56AF45; color:white;}
.dugme.dugme-siyah{ background-color: #111; color:white;}
.yorum-listesi{
 position:relative;
}
.yorum-listesi .yorum {
 border:1px solid #d0d0d0;
 padding:7px 0;
 color:#666;
 margin-top:15px;
 margin:0 auto;
 margin-bottom:10px;
}
.yorum-listesi .yorum .avatar {
 position:absolute;
 display:block;
 vertical-align:top;
 margin-left:7px;
}
.yorum-listesi .yorum .avatar a img {
 padding:2px;
 border:1px solid #ccc;
}
.yorum-listesi .yorum .avatar a:hover img {
 border-color:#aaa;
}
.yorum-listesi .yorum .yorum-icerik {
 padding-left:70px;
 padding-right:10px;
 padding-bottom:10px;
}
.yorum-listesi .yorum .yorum-icerik img{
 max-width:100%;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi {
 margin-bottom:3px;
 margin-left:10px;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi a.yorum-yazar{
 color:#666;
 font-weight:normal;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi a.yorum-yazar:hover{
 color:#0278BC;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi .yorum-tarih{
 font-size:12px;
 color:#aaa;
 margin-left:5px;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi .sag{
 float:right;
 font-weight:normal;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi .sag .yanitla{
 padding-left:18px;
 background: url("../resimler/yanitla.png") no-repeat left center;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi .sag .duzenle{
 padding-left:30px;
 background: url("../resimler/duzenle.png") no-repeat left center;
}
.yorum-listesi .yorum .yorum-icerik .yorum-bilgi .sag .sil{
 padding-left:30px;
 background: url("../resimler/sil.png") no-repeat left center;
 background-size: 16px 16px;
}
.yorum-listesi .yorum .yorum-icerik .yorum-yazi {
 border-top:1px solid #ccc;
 line-height:21px;
 margin-left:10px;
 padding-top:3px;
 font-size:13px;
}
.yorum-listesi .yorum .yorum-icerik .yorum-yazi p{
 margin-top:5px;
 margin-bottom:10px;
}
.yorum-listesi .yorum .yorum-icerik .yorum-yazi a{
 color:#0278BC;
}
.onay-kodu{
 border:1px solid #ddd;
}
.sayfalama{
 width:100%;
 text-align:center;
 margin-bottom:15px;
}
.sayfalama .dis{
 display:inline-block;
}
.sayfalama .ic{
 position:relative;
 float:left;
 padding:3px;
 background:#fff;
 border:1px solid #ccc;
 border-bottom-width:2px;
 font-size:12px;
 color:#333;
}
.sayfalama span{
 position:relative;
 float:left;
 margin:2px 5px 2px 5px;
 padding:7px;
 border-radius:2px;
 border:1px solid #ccc;
 border-bottom-width:2px;
 border-right-width:2px;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
 background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}
.sayfalama span:hover{
 background:#eee;
}
.sayfalama a:active span{
 background:#ddd;
}
.sayfalama .enbas{
 font-weight:bold;
}
.sayfalama .secili{
 font-weight:bold;
 color:#333;
 background:#ccc;
 border-color:#aaa;
 border-width:1px;
}
.sayfalama .secili:hover{
 background:#ccc;
}
.sayfalama .enson{
 font-weight:bold;
}
.alinti-cizelgesi{
 position:relative;
 border:1px solid #ddd;
 border-left-width:8px;
 padding:10px 15px;
 display: block;
 background: url("../resimler/tirnak.gif") no-repeat 16px 7px;
 margin-bottom:10px;
 margin-top:10px;
}
.alinti-cizelgesi .kimden{
 margin-left:35px;
 margin-bottom:6px;
 font-weight:bold;
}
.alinti-cizelgesi .icerik{
 padding-left:5px;
 font-size:12px;
}
.kod-cizelgesi{
 position:relative;
 border:1px solid #E6C9AA;
}
.kod-cizelgesi .baslik{
 color:#666;
 background: #F5D7B5;
 padding:3px 6px 3px 10px;
 display:block;
 border-bottom:1px solid #E6C9AA;
}
.kod-cizelgesi .baslik b{
 text-align:left;
}
.kod-cizelgesi .baslik span{
 float:right;
}
.kod-cizelgesi .baslik span a{
 color:#555 !important;
}
.kod-cizelgesi .kod-icerik{
 overflow:auto;
 font-family:Lucida Console, verdana, sans-serif, tahoma, arial, helvetica;
 font-size:12px;
 position:relative;
}
.kod-cizelgesi pre{
 border:0;
 margin:0;
 padding:0;
 background:none;
}
.kod-cizelgesi .kodlar{
 counter-reset:line;
 display:inline-table;
 color:#2F4F4F;
 margin:0;
 padding:0;
 border:0;
 width:100%;
}
.kod-cizelgesi .kodlar code {
 white-space:pre;
 margin:0;
 padding:0;
 background:#f4f4f4;
 display:table-row;
 line-height:21px;
 width:99%;
}
.kod-cizelgesi .kodlar code:nth-of-type(odd) {
 background:#ebebeb;
}
.kod-cizelgesi .kodlar code:before {
 width:28px;
 font-weight:normal;
 counter-increment:line;
 content:counter(line);
 display:inline-block;
 border-right:1px solid #ddd;
 padding:0 2px 0 2px;
 margin-right:3px;
 color:#666;
 background:#F5DEC4;
 text-align:right;
}
.kurucu{
 color: #FF0000;
 font-weight: bold;
}
.yonetici{
 color: #FF9900;
 font-weight: bold;
}
.yardimci{
 color: #339900;
 font-weight: bold;
}
.blm_yrd{
 color: #77aa00;
 font-weight: bold;
}
.ozel_ad{
 color: #FF0000;
 font-weight: bold;
}
.kullanici{
 color: #333333;
}
.profil-goruntule-ic .sol-kisim{
 float:left;
 width:25% !important;
 background:#f0f0f0;
 margin-bottom:-5000px;
 padding-bottom:5000px;
 text-align:center;
 display:inline-block;
 min-height:514px;
}
.profil-goruntule-ic .sol-kisim .sol-icerik{
 margin:10px;
}
.profil-goruntule-ic .sag-kisim{
 display:inline-block;
 float:left;
 text-align:left;
 position:relative;
 width:75% !important;
 background:#fafafa;
}
.profil-goruntule-ic .sag-kisim .sag-icerik{
 margin:10px;
}
.profil-goruntule-ic .sag-kisim .profil-kutusu{
 width:auto;
 margin:10px 0;
 display:block;
}
.profil-orta-blok{
 width: 700px;
 display:block;
 margin: 0 auto;
 overflow:hidden !important;
}
.profil-goruntule-ic{
 padding:0 !important;
 overflow:hidden !important;
 margin:0 !important;
 background:#fafafa;
}
.profil-goruntule-ic ul.profil-sol-menu{
 display:block;
 margin:10px 0;
 padding:0;
 float:none;
 border:0;
 list-style-type:none;
}
.profil-goruntule-ic ul.profil-sol-menu li a{
 display:block;
 border:1px solid #ddd;
 background:#fafafa;
 border-radius:5px;
 padding:5px 0;
 margin:5px 0;
}
.profil-kutusu{
 width:100%;
 border:1px solid #ddd;
 margin:10px;
 background:#fff;
 -moz-transition:all 0.5s ease-in-out;
 -o-transition:all 0.5s ease-in-out;
 -webkit-transition:all 0.5s ease-in-out;
 transition:all 0.5s ease-in-out;
 display:block;
}
.profil-kutusu .baslik{
 padding:8px 10px;
 border:1px solid #eee;
 background:#f0f0f0;
 color:#777;
 text-align:center;
 border-bottom:1px solid #ddd;
}
.profil-kutusu .kutu-ic{
 padding:10px;
}
.profil-kutusu .kutu-ic .kutu-liste{
 display:block;
 border:1px solid #ddd;
 border-radius:4px;
 margin-bottom:5px;
}
.profil-kutusu .kutu-ic .kutu-liste .liste-sol{
 float:left;
 width:45%;
 border-right:1px solid #ddd;
 padding:4px 5px;
 background:#fafafa;
 text-align:right;
}
.profil-kutusu .kutu-ic .kutu-liste .liste-sag{
 float:left;
 text-align:left;
 display:inline-block;
 width:50%;
 padding:4px 5px;
}
.uye-bilgileri{
 width:49%;
 float:left;
}
.profil-baglantilar{
 width:49%;
 float:right;
}
.profil-imza{
 width:100%;
 float:none;
 margin-top:20px;
}
.profil-hakkinda{
 width:100%;
 float:none;
 margin-top:20px;
}
.profil-dugmeler{
 clear:both;
 margin-top:20px;
 float:none;
 text-align:center;
 border-radius:5px;
 border:1px solid #ddd;
 background:#fafafa;
 padding:10px 5px;
}
.pro-duzenle{
 width:100%;
 border:1px solid #ddd;
 margin-bottom:10px;
 background:#fff;
}
.pro-duzenle fieldset{
 margin:8px;
 padding:8px;
 background-color:#f9f9f9;
 border:1px solid #ccc;
 border-radius:5px;
}
.pro-duzenle fieldset small{
 font-size:11px;
 color:#999;
 font-style: italic;
}
.pro-duzenle fieldset.avatar-duzenle img{
 display:block;
 margin:0 auto;
 max-width:260px;
}
.pro-duzenle fieldset.avatar-duzenle label{
 margin:0 auto;
 margin-top:-4px !important;
 display:block;
 margin-bottom:4px;
 border:1px solid #ccc;
 max-width:175px;
 border-radius:5px;
 background:#eee;
 padding:3px 5px;
 color:darkred;
}
.pro-duzenle .baslik{
 padding:8px 10px;
 border:1px solid #eee;
 background:#f0f0f0;
 color:#777;
 text-align:center;
 border-bottom:1px solid #ddd;
}
.pro-duzenle .phpkf-duzenle-label {
 float:none;
 display:block;
 margin-bottom:0px;
}
.pro-duzenle .phpkf-duzenle-label label.label {
 display:block;
 margin-bottom:5px;
 width:100%;
}
.pro-duzenle .input-type-select{
 border:1px solid #dfdfdf;
 color:#666;
 outline:none;
 height:31px;
 padding-left:10px;
 padding-top:4px;
 padding-bottom:4px;
 padding-right:4px;
 -webkit-transition:all .2s linear;
 -moz-transition:all .2s linear;
 -o-transition:all .2s linear;
 transition:all .2s linear;
 background: #fff;
 font: 12px/22px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.pro-duzenle .input-type-text{
 border:1px solid #dfdfdf;
 color:#666;
 outline:none;
 height:28px;
 padding-left:10px;
 -webkit-transition:all .2s linear;
 -moz-transition:all .2s linear;
 -o-transition:all .2s linear;
 transition:all .2s linear;
 background:#fff;
 font: 12px/22px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
 width:95%;
 display:block;
}
.pro-duzenle .input-type-text:focus{
 border-color:#aaa;
 color:#666;
}
.pro-duzenle .input-type-text:disabled{
 color:#555;
 background:#fafafa;
}
.pro-duzenle fieldset.imza-hakkinda textarea{
 display:block;
 margin:0 auto;
}
.profil-goruntule-blok .avatar .baslik-avatar{display:none;}
.profil-goruntule-blok .avatar img{
 max-width:156px;
}
.dizinler{
 border:1px solid #ddd;
 border-radius:5px;
 padding:8px 10px;
 background:#f5f5f5;
}
.dizinler ul.dizin-listesi{
 list-style-type:none;
 margin:0;
 padding:0;
 display:inline-block;
}
.dizinler ul.dizin-listesi li{
 float:left;
 margin:0;
 margin-right:5px;
 border:1px solid #ddd;
 padding:3px 5px;
 background:#fff;
 border-radius:5px;
}
.dizinler ul.dizin-listesi li.secili{
 font-weight:bold;
 background:#58ABD0;
 border:1px solid #246A8A;
 color:#fff;
}
.resimler{
 margin-top:10px;
 padding:8px 10px;
 border-radius:5px;
 background:#f5f5f5;
 border:1px solid #ddd;
 text-align:center;
}
.resimler .galeri-resim{
 display:block;
 width:10%;
 height:120px;
 background:#fff;
 border-radius:5px;
 border:2px solid #ddd;
 padding:8px 8px 25px 8px;
 float:left;
 margin:5px 5px 5px 5px;
 position:relative;
 cursor:pointer;
}
.resimler .galeri-resim input{
 display:block;
 margin:0 auto;
 width:100%;
 position:absolute;
 bottom:5px;
 left:0px;
}
.resimler .galeri-resim img{
 display:block;
 margin:0 auto;
 margin-bottom:5px;
 max-width:100%;
 max-height:100%;
}
.resimler .galeri-resim:hover{
 border:2px solid #58ABD0;
 background:#fff;
}
.galeri-dugmeler{
 margin:10px 0;
 padding:7px;
 border:1px solid #ddd;
 background:#f5f5f5;
 text-align:center;
 border-radius:5px;
}
.uyeler-orta-blok{
 width: 85%;
 display:block;
 margin: 0 auto;
 overflow:hidden !important;
}
.uye-arama-alani{
 background:#f7f7f7;
 padding:8px;
 border-bottom:1px solid #ddd;
}
.arama-input{
 float:left;
}
.siralama-input{
 float:right;
}
.siralama-input select{
 top:-2px;
 position:relative;
}
.uye-listesi{
 padding-top:10px;
}
.uye-kutu{
 width:265px;
 float:left;
 display:block;
}
.uye-kutu .uye-bilgi{
 margin:10px;
 margin-bottom:0;
 text-align:left !important;
 border:1px solid #ddd;
 border-radius:6px;
 padding:5px;
 line-height:1.15em;
 font: 12px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
 color:#666;
}
.uye-kutu .uye-bilgi .uye-avatar{
 float:left;
 display:inline-block;
 width:27%;
 height:62px;
 position:relative;
}
.uye-kutu .uye-bilgi .uye-avatar img{
 width:100%;
 height:100%;
 border-radius:6px;
}
.uye-kutu .uye-bilgi .uye-bilgileri{
 float:left;
 width:72%;
 display:inline-block;
}
.uye-kutu .uye-bilgi .uye-bilgileri .bilgiler{
 padding:0 10px;
}
.bilgi-sol{
 text-align:left;
 float:left;
 font-size:11px;
}
.bilgi-sol span{
 display:block;
}
.bilgi-sol small{
 font-size:10px;
}
.reklam_alani{
 width:100%;
 width:calc(100% - 5px);
 height:100%;
 height:calc(100% - 5px);
 background:#4096ee;
 background:linear-gradient(to bottom, #3490ED 0%,#7abcff 100%);
 border:5px solid #fff;
 text-align:center;
 font-family:Verdana, Lucida Sans, HelveticaNeue;
 color:#ffffff;
}
.reklam_alani a, .reklam_alani a:hover{
 display:block;
 font-family:Verdana, Lucida Sans, HelveticaNeue;
 color:#ffffff;
}
.hep-gizle{
 display:none !important;
}
.yatay_cizgi{
 border:1px solid #bbb;
}
.bbcode_tablo{
 border-collapse:collapse;
}
.bbcode_tablo, .bbcode_tablo tr, .bbcode_tablo td, .bbcode_tablo th{
 border:1px solid #d0d0d0;
}
.bbcode_tablo th{
 padding:5px;
 text-align:center;
 font-weight:bold;
 background:#f3f3f3;
}
.bbcode_tablo td{
 padding:7px;
 text-align:left;
 vertical-align:top;
}
.ifadeler{
 margin-left:-20px;
 text-align:center;
}
.ifade{
 position:relative;
 opacity:0.6;
 filter:alpha(opacity=60);
 cursor:pointer;
}
.ifade:hover{
 opacity:1.0;
 filter:alpha(opacity=100);
}
.ifade:active{
 top:1px;
 left:1px;
}
.skype-buton, .skype-buton img{
 padding:0 !important;
 vertical-align:0 !important;
 margin-top:0px !important;
 margin-bottom:-4px !important;
 margin-left:2px !important;
}
.tablo-ana{
 background:#d0d0d0;
}
.tablo-ust{
 background:#f8f8f8;
}
.tablo-alt{
 background:#eeeeee;
}
.tablo-ici, .tablo-satir{
 background:#ffffff;
}
.tablo-satir:hover{
 background:#efefef;
}
.tablo-baslik{
 margin:0;
 background:#f3f3f3;
 border-bottom:1px solid #ddd;
 padding:8px 13px;
 color:#444;
 font-weight:bold;
 font-family:"Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
 text-align:center;
 border-top:2px solid #246A8A;
}
.liste-veri{
 font-size: 11px;
 color: #333333;
}








/*  KÜÇÜK MOBİL CİHAZLAR İÇİN  */

@media screen and (max-width: 768px){
	.mobil-gizle{
		display:none !important;
	}
	.mobil-tam{
		display:block;
		float:left;
		width:100% !important;
		padding:0 !important;
		margin:0 !important;
	}
	.tam-blok{
		width:100% !important;
	}
	.genislik {
		width:98%;
		padding:0;
		margin:0 auto;
	}
	.sol-blok{
		display:none;
	}
	.sag-blok{
		display:none;
	}
	.phpkf-blok-gizle.sol-goster{
		display:block;
	}
	.phpkf-blok-gizle.sag-goster{
		display:block;
	}
	.orta-blok{
		float:left;
		width:100%;
		display:block;
		padding:0;
		margin:0;
	}
	.iletisim-blok{
		width:100%;
	}
	.dogrulama{
		position:relative;
		right:4px !important;
		float:right;
		top:8px !important;
	}
	.sabit-menu .ic{
		padding-right:30px;
	}
	.sabit-menu ul a{
		padding:0 10px;
		font-size:12px;
	}
	.sabit-menu .klogo a{
		width:46px;
		margin-left:-3px;
		background:url("../resimler/bildirim_logo.png") no-repeat 2px 9px;
	}
	.sabit-menu .klogo:hover > a{
		background:url("../resimler/bildirim_logo.png") no-repeat 2px 9px;
		background-color:#353535;
	}
	.sabit-menu .arama-alani{
		display:none;
		top:35px;
		width:99%;
		background:#666;
		z-index:0;
		height:24px;
	}
	.sabit-menu .arama-alani .input{
		position:absolute;
		padding:4px 0px 4px 10px;
		margin-left:15px;
		max-width:94% !important;
		width:94% !important;
		margin-bottom:0;
	}
	.sabit-menu .arama-alani .input:focus{
		width:90%;
	}
	.sabit-menu .arama-alani .arama-dugme{
		right:10px;
	}
	.sabit-menu .arama-button{
		position:absolute;
		right:2px;
		display:block;
		height:23px;
		width:23px;
		border:1px solid #222;
		margin-top:4px;
		color:#fff;
		font-size:12px;
		text-indent:-9999px;
		background:#ddd url("../resimler/arama.png") center center no-repeat;
	}
	.genel-menu ul a{
		padding:0 4px;
		font-size:12px;
	}
	.phpkf-blok-kutusu.margin{
		margin-left:0;
		margin-right:0;
	}
	.phpkf-blok-kutusu .kutu-baslik h1, .phpkf-blok-kutusu .kutu-baslik h2, .phpkf-blok-kutusu .kutu-baslik h3, .phpkf-blok-kutusu .kutu-baslik h4{
		font-size:14px;
	}
	.phpkf-blok-kutusu .kutu-icerik{
		padding:8px;
		font-size:12px;
		margin-bottom:3px;
		line-height:1.5em;
	}
	#phpkf-footer{
		min-height:110px;
	}
	#phpkf-footer .footer-linkler{
		width:33.3333%;
		float:left;
	}
	#phpkf-footer .footer-linkler ul{
		list-style-type:none;
		padding:0;
		margin:0;
	}
	#phpkf-footer .footer-linkler ul li {
		padding:0;
		line-height:25px;
		width:100%;
		height:25px;
		overflow:hidden;
	}
	#phpkf-footer .footer-linkler ul a{
		font-size:11px;
		color:#fff;
	}
	#phpkf-footer .footer-bilgi{
		display:none;
	}
	#ana_govde{
		min-height: 100%;
		min-height: calc(100% - 381px);
	}
	/* IE 10-11 */
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		#ana_govde{min-height: calc(100% - 379px)}
	}
	.enalt{
		font-size:11px;
		padding:8px 0;
	}
	.kayit-form .input-text{width:95%;}
	.phpkf-form-label {
		padding-left:0;
		margin-bottom:10px;
		margin-top:8px;
	}
	.phpkf-form-label label.label {
		position:relative;
		margin-left:-0;
		color:#444444;
		z-index:1;
		font-size:14px;
		margin-top:6px;
		text-align:right;
	}
	.profil-orta-blok{
		width:100%;
		padding:0;
		margin:0;
	}
	.profil-goruntule-blok .profil-baslik{display:none;}
	.profil-goruntule-ic .sol-kisim{
		float:none;
		background:none;
		border:0;
		display:block;
		width:100% !important;
		padding-bottom:0;
		margin-bottom:0;
	}
	.profil-goruntule-ic #baglantilar, .profil-goruntule-ic #imza, .profil-goruntule-ic #uyelik-bilgi{
		display:block !important;
	}
	.profil-goruntule-ic ul.profil-sol-menu{display:none !important;}
	.profil-kutusu{
		width:97%;
	}
	.profil-kutusu .kutu-ic .kutu-liste .liste-sol{
		width:35%;
		font-size:11px;
	}
	.profil-kutusu .kutu-ic .kutu-liste .liste-sag{
		width:50%;
		font-size:11px;
	}
	.profil-goruntule-ic .sag-kisim{
		display:block;
		float:none;
		width:100% !important;
		background:none;
	}
	.profil-goruntule-blok .avatar{
		background:#fafafa;
		display:block;
		border:1px solid #ddd;
		margin:0;
	}
	.profil-goruntule-blok .avatar .baslik-avatar{
		padding:8px;
		border:1px solid #eee;
		font-weight:bold;
		color:#777;
		background:#e0e0e0;
		display:block;
	}
	.profil-goruntule-blok .avatar img{
		margin:10px;
	}
	.pro-duzenle fieldset.avatar-duzenle img{
		max-width:180px;
	}
	.resimler .galeri-resim{
		display:block;
		width:85px;
		height:100px;
	}
	.uyeler-orta-blok{margin:0;padding:0;width:100%;}
	.uye-kutu{
		margin:0 auto;
		width:275px;
		float:left;
		display:block;
	}
	.uye-kutu .uye-bilgi{
		margin:10px;
		margin-bottom:0;
		text-align:left !important;
		border:1px solid #ddd;
		border-radius:4px;
		padding:5px;
	}
	.uye-arama-alani{
		text-align:center;
	}
	.uye-arama-alani .dugme {
		display: inline-block;
		float:none;
		padding: 2px 5px;
		border: none;
		cursor: pointer;
		opacity: 0.9;
		border-radius:3px;
		font: 12px/18px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
	}
	.uye-arama-alani .input-select{
		border:1px solid #dfdfdf;
		color:#666;
		outline:none;
		height:25px;
		padding-left:10px;
		padding-top:2px;
		padding-bottom:2px;
		padding-right:4px;
		-webkit-transition:all .2s linear;
		-moz-transition:all .2s linear;
		-o-transition:all .2s linear;
		transition:all .2s linear;
		background: #fff;
		font: 12px/18px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
	}
	.uye-arama-alani .input-text{
		border:1px solid #dfdfdf;
		color:#666;
		outline:none;
		height:23px;
		padding-left:10px;  
		padding-right:10px; 
		-webkit-transition:all .2s linear;
		-moz-transition:all .2s linear;
		-o-transition:all .2s linear;
		transition:all .2s linear;
		background:#fff;
		font: 12px/18px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
	}
	.arama-input{
		float:none !important;
		margin:0 auto;
		display:block !important;
	}
	.siralama-input{
		float:none;
		margin:0 auto;
		display:block !important;
		margin-top:10px;
	}
	.siralama-input select{
		top:-2px;
		position:relative;
	}
}




/*  TABLETLER İÇİN  */

@media screen and (min-width: 768px) and (max-width: 991px){
	.tablet-gizle{
		display:none !important;
	}
	.tablet-tam{
		display:block;
		float:left;
		width:100% !important;
		padding:0 !important;
		margin:0 !important;
	}
	.tam-blok{
		width:530px;
	}
	.sag-blok{
		display:none;
	}
	.phpkf-blok-gizle.sag-goster{
		display:block;
	}
	.iletisim-blok{
		width:650px;
	}
	.dogrulama{
		position:relative;
		right:10px !important;
		float:right;
		top:9px !important;
	}
	#phpkf-footer .footer-linkler{
		width:33.333%;
		float:left;
	}
	#phpkf-footer .footer-bilgi{
		display:none;
	}
	.input-text.yorum-textarea{
		width:90%;
	}
	.input-text.yorum-text{
		width:90%;
	}
	.resimler .galeri-resim{
		display:block;
		width:85px;
		height:100px;
	}
	.phpkf-blok-kutusu.margin{
		margin-right:0;
	}
	.uyeler-orta-blok{
		margin:0;
		padding:0;
		width:100%;
	}
}




/*  MASAÜSTÜ ORTA BOYUTTA EKRANLAR İÇİN  */

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.masa-gizle{
		display:none !important;
	}
	.masa-tam{
		display:block;
		float:left;
		width:100% !important;
		padding:0 !important;
		margin:0 !important;
	}
	.tam-blok{
		width:530px;
	}
	.iletisim-blok{
		width:650px;
	}
	#phpkf-footer .footer-linkler{
		width:23%;
		float:left;
	}
	#phpkf-footer .footer-bilgi{
		padding:7px 10px;
		font-size:13px;
		width:25%;
		line-height:1.5em;
		float:left;
		display:block;
	}
	.input-text.yorum-textarea{
		width:90%;
	}
	.input-text.yorum-text{
		width:90%;
	}
	.resimler .galeri-resim{
		display:block;
		width:95px;
		height:130px;
	}
}




/*  ÇOK GENİŞ EKRANLAR İÇİN  */

@media screen and (min-width: 1200px) {
	.genis-gizle{
		display:none !important;
	}
	.genis-tam{
		display:block;
		float:left;
		width:100% !important;
		padding:0 !important;
		margin:0 !important;
	}
	.tam-blok{
		width:530px;
	}
	.iletisim-blok{
		width:650px;
	}
	.dogrulama{
		position:relative;
		right:-5px !important;
		float:right;
		top:-24px !important;
	}
	#phpkf-footer .footer-linkler{
		width:24%;
		float:left;
	}
	#phpkf-footer .footer-bilgi{
		padding:7px 10px;
		font-size:13px;
		width:25%;
		line-height:1.5em;
		float:right;
		display:block;
	}
	.input-text.yorum-textarea{
		width:95%;
	}
	.input-text.yorum-text{
		width:95%;
	}
}
