@charset "utf-8";

body{
 background:#222222;
 color:#DDDDDD;
}
a{
 color:#898989;
}
a:hover{
 color:#EEEEEE;
}
.sabit-menu{
 background:#000000;
}
.sabit-menu ul a:hover{
 background:#333333;
}
.sabit-menu ul li ul.dropdown-menu{
 display:none;
 background-color:#333333;
}
.sabit-menu ul li:hover > a{
 background-color:#333333;
}
.sabit-menu ul li ul.dropdown-menu li a:hover{
 background-color:#444444;
}
.sabit-menu .klogo a{
 background:#000000 url("../resimler/resimler/bildirim_logo.png") no-repeat 6px 9px;
}
.sabit-menu .klogo:hover > a, .sabit-menu .klogo ul.dropdown-menu li a{
 background:#333333 url("../resimler/resimler/bildirim_logo.png") no-repeat 6px 9px;
}
.site-baslik{
 background-color:#768ca5;
}
.genel-menu{
 background-color:#000000;
 border-top:1px solid #474747;
 border-bottom:1px solid #716D6D;
}
.genel-menu ul a{
 color:#CCCCCC;
}
.genel-menu ul a:hover{
 background-color:#222222;
}
.genel-menu ul li ul.dropdown-menu2{
 background-color:#222222;
}
.genel-menu ul li:hover > a{
 background-color:#222222;
}
.genel-menu ul li ul.dropdown-menu2 li a:hover{
 background-color:#333333;
}
.site-baslik{
 background-color:#222222;
}
.genel-tablo{
 background:#222222 !important;
 border:1px solid #000000 !important;
}
.genel-tablo td > div td {
 background:#222222 !important;
 border:1px solid #000000 !important;
}
.genel-tablo td > div table {
 background:#222222 !important;
 border:1px solid #000000 !important;
}
.forum-kategori-baslik{
 background:#000000 !important;
 border-top:0 !important;
 border-bottom:1px solid #716D6D !important;
 color:#CCCCCC !important;
}
.forum-kategori-alt-baslik{
 background:#000000 !important;
 border-bottom: 1px solid #222222;
}
.forum-kategori-taban{
 background:#000000;
 border-bottom:2px solid #000000;
}
.forum-kategori-taban td{
 background:#222222;
}
.forum-klasor, .forum-ozel-klasor, .forum-aciklama, .forum-sonkonu, .forum-baslik-sayisi, .forum-mesaj-sayisi{
 background:#222222;
}
.satir_renk1{
 background:#222222;
 color:#DDDDDD;
}
.satir_renk2{
 background:#333333;
 color:#DDDDDD;
}
.link-agaci{
 background:#222222;
 border:1px solid #000000;
}
.yazar-bilgi{
 background:#222222;
 border:0;
 border-top:1px solid #444;
 border-left:1px solid #444;
 border-bottom:1px solid #000;
 border-right:1px solid #000;
}
.tablo_border4{
 background:#000000;
}
.tablo_border4 td{
 background:#222222 !important;
}
.giris-form-baslik{
 background:#000000;
 border-top:0;
 border-bottom:1px solid #716D6D;
 color:#CCCCCC;
}
.giris-form-alt{
 border-bottom:2px solid #566e8a;
 border-top:1px solid #ddd;
}
.oihizlicevap_baslik{
 background:#000000 url("../resimler/resimler/baslik-arka.png");
}
.hizli_cevap{
 border: 1px solid #000000;
}
.hizli_cevap_baslik{
 background:#000000 url("../resimler/resimler/baslik-arka.png");
}
.hizli_cevap_son{
 background:#444444 url("../resimler/resimler/baslik-arka.png");
}
.hizli_cevap_form_icerik{
 background:#222222;
}
.forum_baslik{
 background:#000000 url("../resimler/resimler/baslik-arka.png");
}
.dugme{
 background-color:#000000;
}
.ozel_ileti_linkler{
 border:0;
 background:#222222;
}
.border-beyaz{
 border:0;
 border:1px solid #716D6D;
}
.oran_dis{
 border:1px solid #000000;
}
.oran_ic{
 background:#555 url("../resimler/resimler/baslik-arka.png");
 border-right:1px solid #000000;
}
div.sayfalama .tablo_border{
 background:#5e6b7a;
}
.phpkf-blok-kutusu{
 background:#111111;
 color:#BBBBBB;
 border-top:2px solid #000000;
 border-bottom:2px solid #000000;
 border-left:1px solid #000000;
 border-right:1px solid #000000;
}
.phpkf-blok-kutusu .kutu-baslik{
 background:#000000;
 color:#CCCCCC;
 border-bottom:1px solid #716D6D;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li > a{
 color:#888888;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li a.active{
 background:#333333;
 color:#AAAAAA;
 font-weight:bold;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li > a:hover{
 background:#333333;
 color:#DDDDDD;
}
.phpkf-blok-kutusu .kutu-footer{
 background: #000000;
 border-top:1px solid #716D6D;
}
#phpkf-footer{
 background:#222222;
 border-top:1px solid #000000;
}
.enalt{
 background:#000000;
}
.liste-veri, .liste-etiket, .ufak, .son-ileti-tarih{
 background:#222222 !important;
 color:#DDDDDD;
}
.tablo_bbcode_yardim{
 background:#000000;
}
.tablo_bbcode_yardim th{
 background:#222222;
 color:#DDDDDD;
 border:0;
}
.tablo_bbcode_yardim td{
 background:#222222;
 color:#DDDDDD;
 border:0;
}
.bbcode_tablo th{
 background: #222222 !important;
}

.tablo-ana{
 background:#000000;
}
.tablo-ici, .tablo-satir,.tablo-ust{
 background:#222222;
}
.tablo-satir:hover{
 background:#333333;
}
.tablo-baslik{
 background:#000000;
 border-top:0;
 padding:11px 0;
 border-bottom:1px solid #716D6D;
 color:#CCCCCC;
 font-weight:normal
}
.tablo-ana td div hr{
 border-bottom: 2px solid #000000 !important;
}
fieldset, .fieldset{
 background:#222222;
 border:1px solid #474747;
 color:#DDDDDD;
}
.phpkf-form-label label.label{
 color:#DDDDDD;
}
.giris-form-alt{
 background:#333333;
 color:#DDDDDD;
 border-top: 1px solid #000000;
 border-bottom: 2px solid #444444;
}
.ifadeler{
 display:table-cell;
 padding:0;
 width:unset;
 height:unset;
 background:#F2F2F2;
 color:#444444;
}
.tablo_ici{
 background:#111111;
}
div.bloklar_yapi2 UL LI{
 background:#222222 !important;
 border:1px solid #666666 !important;
 color:#FFFFFF !important;
}
#cop_alani #cop, #gizle_alani #gizle{
 border:1px solid #666666 !important;
}
textarea.post, .formlar, .input-alani, .input-alani:focus, .input-text, .input-text:focus, .input-select, .input-select:focus, .textarea, .textarea:focus{
 background:#333333;
 border:1px solid #000000;
 color:#DDDDDD;
}
.input-text.giris-text{
 background-repeat:no-repeat;
 background-position:right 7px center;
}
.input-alani:disabled{
 color:#BBBBBB;
}
.yonetim-form > div.form-div{
 background:#212121;
 border:1px solid #000000;
}
.yonetim-form > div.form-div > .yonetim-label, .yonetim-legend{
 color:#888888;
}
#etiket{
 border:1px solid #ccc;
}
#etiket h4{
 background:#555 url("../resimler/resimler/baslik-arka.png");
}
.cizgi_renk{
 background:#000000;
}
#sayfalama_cubuk, .bls_blok_alt{
 background:#333333 !important;
 height:0 !important;
 border:0 !important;
}
.bls_blok_ust{
 background:#222222 !important;
 border:0px !important;
}
.ana_forum_baslik{
 background:#000000;
 border-top:0px;
 border-bottom:1px solid #222222;
 color:#FFFFFF !important;
}
.padmar_ayari{
 background:#222222;
 color:#DDDDDD;
}
.alt_haber, .alt{
 background:#222222;
 color:#DDDDDD;
}
.ana_forum_taban{
 background-color:#444444;
}
.yan_bloklar_alt{
 border-top:2px solid #333333;
}