@charset "utf-8";

body{
 color:#555;
}
#yonetim_ana_govde{
 min-height:100%;
 min-height:calc(100% - 283px);
}
/* IE 8 */
@media all\0{
 #yonetim_ana_govde{min-height:auto !important;}
}
/* IE10-11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
 #yonetim_ana_govde{min-height:calc(100% - 281px)}
}
.menu-alt-bosluk{
 clear:both;
 height:30px;
}
.genislik{
 width:95%;
 margin:0 auto;
}
.sol-blok{
 width:200px;
}
.yonetim-form > div.form-div{
 clear:both;
 overflow:hidden;
 padding:1px;
 margin:0 0 10px 0;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 background:#fafafa;
 border:1px solid #eee;
 padding:7px 5px;
 box-sizing:border-box;
}
.yonetim-form > div.form-div > .yonetim-fieldset > div > div{
 margin:0 0 5px 0;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
}
.yonetim-form > div.form-div > .yonetim-label, .yonetim-legend{
 width:30%;
 float:left;
 padding-right:10px;
 font-size:12px;
 margin-top:3px;
 vertical-align:middle;
 color:#444;
 line-height:14px;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
}
.yonetim-form > div.form-div > div, .yonetim-form > div > .yonetim-fieldset > div{
 width:70%;
 float:right;
}
.yonetim-fieldset{
 border:0;
 padding:0;
}
.input-alani{
 border:1px solid #dfdfdf;
 color:#666;
 outline:none;
 height:28px;
 padding-left:10px;  
 padding-right:10px; 
 -webkit-transition:all .2s linear;
 -moz-transition:all .2s linear;
 -o-transition:all .2s linear;
 transition:all .2s linear;
 background:#fff;
 font:12px/22px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
 width:94%;
}
.input-alani:focus{
 outline:0;
 border-color:#aaa;
 color:#666;
}
.input-alani:disabled{
 color:#999;
}
.textarea{
 border:1px solid #dfdfdf;
 color:#666;
 outline:none;
 padding:10px;
 width:94%;
 background:#fff;
 font:12px/22px "Verdana", "Lucida Sans", "HelveticaNeue", Arial, sans-serif;
}
.textarea:focus{
 outline:0;
 border-color:#aaa;
 color:#666;
}
.textarea option{
 padding:1px 3px;
}
.kayit-form .form-buyut{
 width:96%;
}
.yonetim-form small{
 font-size:11px;
 color:gray;
 margin-top:4px;
 display:block;
 line-height:13px;
 padding-left:2px;
}
.phpkf-blok-kutusu .kutu-baslik{
 padding:10px 10px 10px 13px;
}
.phpkf-blok-kutusu.margin{
 margin-left:15px;
 margin-right:0;
}
.kutu-icerik.yonetim-menu{
 padding:2px 13px;
 overflow-y:hidden;
 -webkit-transition:max-height 0.3s ease-in-out;
 -moz-transition:max-height 0.3s ease-in-out;
 -o-transition:max-height 0.3s ease-in-out;
 transition:max-height 0.3s ease-in-out;
 max-height:1000px;
}
.kutu-icerik.yonetim-menu.goster{
 overflow-y:hidden;
 -webkit-transition:max-height 0.3s ease-in-out;
 -moz-transition:max-height 0.3s ease-in-out;
 -o-transition:max-height 0.3s ease-in-out;
 transition:max-height 0.3s ease-in-out;
 max-height:1000px;
}
.kutu-icerik.yonetim-menu.gizle{
 max-height:0;
}
.kutu-baslik.ara-baslik{
 border-top:1px solid #ddd;
 border-bottom:1px solid #ddd;
 margin:0;
 padding:10px 10px 10px 13px;
 cursor:pointer;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -khtml-user-select: none;
 user-select: none;
}
.kutu-baslik.ara-baslik i{
 float:right;
 font-size:24px;
 font-weight:800;
 line-height:12px;
 margin-right:3px;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -khtml-user-select: none;
 user-select: none;
}
.kutu-baslik.ara-baslik i.arti{
 font-size:20px;
 margin-right:0;
}
.eklenti_adi{
 color:#227922;
}
.eklenti_bilgi{
 color:#666;
}
.tam-blok{
 margin:0 auto;
 display:block;
}
.tablo_ici{
 background:#fff;
}
.liste-etiket{
 font-size: 13px;
 color: #555;
 font-weight: bold;
}
.liste-veri{
 font-size: 11px;
 color: #333333;
}
#phpkf-footer{
 min-height:0px;
 height:0px;
 padding:0px;
 padding-top:30px;
}
.phpkf-blok-kutusu .kutu-icerik ul.kutu-liste li a.active{
 background:#f4f4f4;
 font-weight:bold;
}



@media (max-width: 600px){
	.yonetim-form > div.form-div{
		margin:0 0 15px 0;
	}
	.yonetim-form > div.form-div > .yonetim-label, .yonetim-legend{
		width:100%;
		float:none;
		font-size:11px;
		margin:0 0 5px 0;
	}
	.yonetim-form > div.form-div > div, .yonetim-form > div > .yonetim-fieldset > div{
		width:100%;
		float:none;
	}
	.input-alani{
		width:90%;
	}
	.textarea{
		width:90%;
	}
	.yonetim-form small{
		display:none;
	}
}



@media screen and (max-width: 768px){
	.genislik{
		width:98% !important;
		padding:0;
		margin:0 auto;
	}
	.phpkf-blok-kutusu.margin{
		padding:0;
		margin:0;
	}
	select.textarea{
		max-height:300px !important;
	}
}


@media (min-width: 1200px){
	.yonetim-form > div.form-div > .yonetim-label, .yonetim-legend{
		text-align:left;
	}
}